{% extends 'header.html' %}
{% block body %}
<div class="container" style="width: 40%;">
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Admin Login</h2>
   <p>Please enter your email address</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color: #3e8f3e">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
   </div>
    <form id="Login" method="post" action="/reset" style="line-height: 3;">

        <div class="form-group">


            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email Address" required>

        </div>

        <button type="submit" name="submit" class="btn btn-primary">Submit</button>

    </form>
    </div>
</div></div>
{% endblock %}